<md-subheader>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/styles/images/zenSand.jpg">
      <h3>
      Contact
      </h3>

    </div>
  </div>
</md-subheader>
<md-content flex id="contact" class="md-whiteframe-z0" layout="row" layout-xs="row" layout-align="center center">

	<div flex="60">
    <p flex="50"><a href="https://www.linkedin.com/in/allen-phelps-6b72157b"><i class="fa fa-linkedin"></i> Linked In</a></p>
    <p flex="50"><a href="https://www.github.com/AJPCodes"><i class="fa fa-github-square"></i> Github</a></p>
	</div>

</md-content>