<md-subheader>Experience </md-subheader>

<md-content flex id="experience" class="md-whiteframe-z0" layout="row" layout-xs="column" layout-align="center center">

	<div flex="60">
		<h1>Background</h1>
      <p>
      After obtaining my undergraduate degree in economics from <a href="http://www.maryvillecollege.edu/about/mission-vision/purpose-statement/">Maryville College</a>, I followed my wunderlust and spent four years living in Japan, while teaching English, learning Japanese, and travelling around Japan and eastern Asia. I loved the constant mental challenge of learning a new language and culture. I love to study languages, and programming languages have turned out to be no exception.
      </p>
      <p>
      I moved from Japan to Nashville, and started working in air cargo logistics for Nippon Express. The job was comfortable, but I didn't feel adequately challenged, so looked into my options and started part time classes at NSS in July of 2015, and learning to code has felt like discovering what I'm meant to do. The mental stimulation, the parallels to linguistics, the mix of artistic creativity and mathematical precision -- I love all of it.
      </p>
      <p>
      The further along I get the more I realize that the tech world is as deep as it is broad. I'm dedicated to continually improving. I can't wait to dive deeper.
      </p>
	</div>

</md-content>