<md-subheader>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/styles/images/zenSand.jpg">
      <h3>
      Experience
      </h3>

    </div>
  </div>
</md-subheader>

<md-content flex id="experience" class="md-whiteframe-z0" layout="row" layout-xs="column" layout-align="center center">

    <ul flex="98" flex-gt-sm="70" class="z-depth-2 collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header"><i class="fa fa-briefcase"></i> Professional</div>
        <div class="collapsible-body">
        <h4>Nippon Express USA, Nashville Branch (NEU)</h4>

        <p>I worked for Nippon Express Nashville branch as an Air Cargo Agent for two years, focusing on Air Cargo Export Operations. Air cargo is urgent by nature, and in the face-paced environment I was responsible for making quick decisions to maximize customer satisfaction and company profits given highly variable constraints and limited information.  </p>

        <p>Because of the relatively small size of our branch, I worked closely with the other members of my team to handle full department operations, from direct customer service to billing. During the day, I routinely communicated with my clients, management, warehouse staff, the internal traffic department, third-party trucking companies, other Nippon Express branches (both foreign and domestic), airlines, and other third-party companies to arrange air cargo exports in compliance with national and international reglation as well as Nippon Express' compliance standards. My daily operation's responsibilities included tracking cargo, inspecting customer export documents, generating international airway bills, submitting export classification data to US customs, invoicing clients, processing payables, booking cargo space on airlines, inspecting outbound cargo, quoting business, and staying in constant communication with my team. </p>

        <h4>Japan Exchange and Teaching Program (JET)</h4>
        <h6>Assistant Language Teacher employed by the Satsuma Town Board of Education</h6>
        <p>
        After graduating from college, I spent four years living and working in a small Japanese town as an assistant language teacher at 8 elementary schools and two middle schools. I worked with native Japanese teachers to enhance ESL education across the county and add cultural context to English education. I also acted as a cultural ambassador in town functions and participated in the national JET program network, acting as an orientation assistant for new arrivals, presenting to large groups at national conferences, and acting as Kagoshima prefectural vice president of the association for JETS.
        </p>
        <p>It's impractical to even attempt to ennumerate the skills I developed while in these rolls, but the most important things I learned were all variations on organizational and communication skills, as well as a whole lot of flexibility. Whether teaching classes, presenting to conference attendees, organizing events, or just trying to keep my busy schedule together, I learned to value clear, effective communication, and advance planning, and I learned to think on my feet when things didn't go as planned. </p>


        <h4>Association for JET participants Peer Support Group</h4>
        <p>
        I volunteered for and eventually managed a toll-free listening and referral service available 365 days a year for the over 3,000 JET program participants. I volunteered for three years, the third of which I was half of a two person leadership team coordinating our group of 20 volunteers across Japan.
        I was available from 8PM to 7AM when on shift and acted as a constant point of contact for other volunteers regarding scheduling and shift issues, and acted as an emergency contact for all volunteers dealing with crisis situations.
        </p>
        <p>
        As the volunteer coordinator, I organized monthly scheduling and maintained volunteer relations—almost entire via email and Skype.

        I was also repsonsible for leading the recruitment and interview committee, where I improved the volunteer selection process by creating a substantive post-interview protocol to standardize discussion across an 8 person interview team. Additionally, I developed materials and led training sessions for new volunteers, as well as regular skill development sessions for active volunteers.
        I also arranged for additional listening skills seminars for non PSG volunteers involved with the JET program volunteer support system, promoted service awareness and modernization, and developed a Skype-only service to compliment our toll-free number. This reduced costs for callers and resulted in a 30% increase in service utilization

        </p>


      </li>
      <li>
        <div class="collapsible-header active"><i class="fa fa-graduation-cap"></i> Education</div>
        <div class="collapsible-body">
        <h4>Nashville Software School (NSS) Cohort 11</h3>
        <p>Nashville software school is a hands on coding boot-camp. The intensive program relies on project-based learning, including both individual collaborative group development projects.
        </p><p>
        I attended evening and weekend classes for front-end development from July through December of 2015. The front end course focused on core front-end technologies, HTML, CSS, and Javascript, including AngularJS, and design frameworks such as Bootstrap, and ngMaterial. We also used use third party services to handle some server side functionality, such as Firebase with OAuth for data storage and user authentication.
        </p>
        <p>I'm attending NSS full-time for the back-end module. Our focus is Node.js and related technologies. We implemented projects using TDD, created RESTful APIs, and expiramented with SQL and noSQL databases with and without ORMs. Please take a look at my projects section below to get a sense of what I learned. </p>

        <h4>Maryville College Class of 2009</h3>
        <p>BA Economics with a minor in accounting, Summa Cum Laude</p>


        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fa fa-language"></i> Language</div>
        <div class="collapsible-body">
          <p>I spent four years living and working in Japan, and am converationally fluent in Japanese. I passed the Japanese Language Proficiency Test (JLPT) level 2.</p>
          <p>As a linguaphile, I have always been fascinated with language and culture. I use apps like Duolingo in my spare time and have basic understanding of Spanish and French from self-study.</p>
          <p></p>
        </div>
      </li>

    </ul>

</md-content>