<md-subheader>Profile</md-subheader>

<md-content flex id="profile" class="md-whiteframe-z0" layout="row" layout-align="center top">
	<div flex-offset="20" flex="80" id="welcome" layout="row" layout-wrap>

		<div id="profileText" flex="100" flex-gt-xs="60">

			<h3>“The only thing that is ultimately real about your journey is the step that you are taking at this moment. That’s all there ever is.” – Eckhart Tolle</h3>
				<p>
				I'm a newly minted software developer, finishing the Node.js MEAN-stack development track at Nashville Software School (NSS). As a naturally curious person who loves to learn and thrives in challenging environments, I enjoy figuring out new technologies and finding creative ways to solve problems.
				</p>

				<p>
				Please take a look around to learn more about me and what I can do.
				</p>
			</div>

		<md-card id="profileCard" flex="100" flex-gt-xs="30" class="md-whiteframe-z2" ng-click="mainCtrl.toggleClass('profileCard', 'active')">
			<h3 class="hoverButton">Allen J. Phelps</h3>
			<h4>Software developer</h4>
			<h4>Nashville, TN.</h4>

			<img src="./styles/images/profilePic.jpg" alt="Profile Picture">
			<p id="item1">Curious</p>
			<p id="item2">Resilient</p>
			<p id="item3">Dedicated</p>
		</md-card>
	</div>


</md-content>

