<!-- <md-subheader>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/styles/images/zenSand.jpg">
      <h3>
      Profile
      </h3>

    </div>
  </div>
</md-subheader> -->


<md-content flex id="profile" class="md-whiteframe-z0" layout="row" layout-align="center top">
	<div flex="98" flex-gt-sm="70" id="welcome" layout="row" layout-wrap class="z-depth-2">

		<div id="profileText" flex="100" flex-gt-sm="65">
				<h3>“The only thing that is ultimately real about your journey is the step that you are taking at this moment. That’s all there ever is.” – Eckhart Tolle</h3>
				<p>
				I'm a newly-minted software developer, finishing the Node.js MEAN-stack development track at Nashville Software School (NSS). I'm a curious person who loves to learn how things work, enjoys creative problem solving, and thrives in challenging environments.

				<p>
        I view software development as a creative act that blends technical precision with ingenuity and art. I enjoy the local and global tech community, and can't wait to see where innovation takes me personally, and society generally.

				</p>
			</div>

		<md-card id="profileCard" flex="100" flex-gt-sm="30" class="md-whiteframe-z2" ng-click="mainCtrl.toggleClass('profileCard', 'active')">
			<h3 class="hoverButton">Allen J Phelps</h3>
			<h4>Software Developer</h4>
			<h4>Nashville, TN</h4>

			<img src="./styles/images/profilePic.jpg" alt="Profile Picture">
			<p id="item1">Curious</p>
			<p id="item2">Motivated</p>
			<p id="item3">Independent</p>
		</md-card>
	</div>


</md-content>

