<md-subheader>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/styles/images/zenSand.jpg">
      <h3>
      Projects
      </h3>

    </div>
  </div>
</md-subheader>
<md-content flex id="projects" class="md-whiteframe-z0" layout="row" layout-xs="column" layout-align="center center">

	<div flex="98" flex-gt-sm="70" id="tabs" class="z-depth-2">
<div ng-cloak>
  <md-content >
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Front-end Capstone">
        <md-content class="md-padding">
          <h1 class="md-display-2">Harakiri<h1>
          <h5>
            <a href="http://harakiri-cards.herokuapp.com/#/" target="blank"><i class="fa fa-desktop"></i> Heroku</a>
            <a href="https://github.com/AJPcodes/HaraKiriCapstone" target="blank"><i class="fa fa-github-square"></i> Github</a>
          </h5>
          <!-- <img src="./styles/images/harakiriStart.png" alt="Harakiri Pic"> -->
          <p>My front end development capstone project</p>
          <p>I've played card games with friends and family my entire life and decided to use the technology I learned to build something fun and familiar. The game it's based on is know variously as 'golf', 'poison', and 'harakiri'. You can read more about it <a href="https://en.wikipedia.org/wiki/Golf_(card_game)">here</a>. </p>

          <p>The project is written in AngularJS with CSS3 animations. You can play with 2-4 players offline, and I have an Express Node Server with Socket.io to allow for online play. It's hosted on <a href="http://harakiri-cards.herokuapp.com/#/">Heroku</a> and you can view the source code on <a href="https://github.com/AJPcodes/HaraKiriCapstone"><i class="fa fa-github-square"></i> Github</a>. </p>


          <p>This was my capstone project for NSS module-1, which focused on building HTML, CSS, and Javascript fundamentals. I decided to take it a bit further and allow for online play, but the core of the game logic is written in Angular JS on the front-end. </p>
          <img src="./styles/images/harakiriPic.PNG" alt="Harakiri Pic">
        </md-content>
      </md-tab>
      <md-tab label="Back-end Capstone">
        <md-content class="md-padding">
          <h1 class="md-display-2">Coming Soon</h1>
          <p>I'm working on my capstone now! Please come back soon to for the big reveal.</p>
        </md-content>
      </md-tab>
      <md-tab label="Node Cal">
        <md-content class="md-padding">
          <h1 class="md-display-2">Node Cal<h1>
          <h5>
            <a href="https://calajp.herokuapp.com/" target="blank"><i class="fa fa-desktop"></i> Heroku</a>
            <a href="https://github.com/AJPcodes/node-cal" target="blank"><i class="fa fa-github-square"></i> Github</a>
          </h5>
          <p>This project was a way to explore TDD by building a command-line application. This was an in class project, and the assignment was to reproduce the the Linux "Cal" app, which displays an ASCII calender in the command line for a user's choice of year or year and month. I used a version of Zeller's algorithm to obtain the correct dates for any given month. The tests were written using Mocha and Chai and included both unit tests and full integration tests comparing my output to the output of the native cal application. </p>
          <p> I also used it as a module in a later project, so you can check it out on Heroku if you don't want to clone down the repo. </p>
          <img src="./styles/images/nodeCal.PNG" alt="NodeCal Picture">

        </md-content>
      </md-tab>
     <!--  <md-tab label="Yahtzee">
        <md-content class="md-padding">
          <h1 class="md-display-2">Yahtzee</h1>
          <</p>
        </md-content>
      </md-tab>
    </md-tabs> -->
  </md-content>
</div>
	</div>

</md-content>
