<!-- jQuery -->
<script src="/lib/bower_components/jQuery/dist/jquery.min.js"></script>
<!-- Angular -->
<script src="/lib/bower_components/angular/angular.min.js"></script>
<!-- Angular Route -->
<script src="/lib/bower_components/angular-route/angular-route.min.js"></script>
<!-- Angular Material -->
<script src="/lib/bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
<script src="/lib/bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
<script src="/lib/bower_components/angular-material/angular-material.min.js"></script>


<script src="/scripts/main.js"></script>
<!-- factories! -->
<!-- <script src="app/.js"></script> -->
<!-- controllers! -->
<script src="/scripts/mainCtrl.js"></script>
<script src="/lib/bower_components/Materialize/dist/js/materialize.min.js"></script>
<script src="/scripts/materializeScripts.js"></script>

