<div layout="column" class="md-whiteframe-z4" layout-padding layout-fill style="padding: 15px;" ng-cloak>

  <md-whiteframe id="navSkills"  class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" href="/">Home</md-button>
  </md-whiteframe>

  <md-whiteframe id="navSkills"  class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" href="/blog">Blog</md-button>
  </md-whiteframe>

  <md-whiteframe id="navSkills"  class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" href="https://www.linkedin.com/in/allen-phelps-6b72157b">Resume</md-button>
  </md-whiteframe>

  <md-whiteframe id="navSkills"  class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" ng-click="mainCtrl.toggleClass('sideNav', 'active')"><i class="fa fa-chevron-left"></i></md-button>
  </md-whiteframe>
</div>

