<div layout="column" class="md-whiteframe-z4" layout-padding layout-fill style="padding: 15px;" ng-cloak>

  <md-whiteframe id="navProfile" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" scroll-to-item scroll-to="#profile">Profile </md-button>
  </md-whiteframe>

  <md-whiteframe id="navSkills"  class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" scroll-to-item scroll-to="#skills">Skills</md-button>
  </md-whiteframe>

  <md-whiteframe id="navExperience" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" scroll-to-item scroll-to="#experience">Experience</md-button>
  </md-whiteframe>

  <md-whiteframe id="navProjects" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" scroll-to-item scroll-to="#projects">Projects</md-button>
  </md-whiteframe>

  <md-whiteframe id="navContact"  class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" scroll-to-item scroll-to="#contact">Contact</md-button>

  </md-whiteframe>
</div>

