<md-subheader>Skills </md-subheader>
<md-content flex id="skills" class="md-whiteframe-z0" layout="row" layout-xs="column" layout-align="center center">

	<div flex="60">
		<h1>Skills</h1>
		<ul>
      <li><img src="/styles/images/devicons/html5-original.svg" alt="html5 icon">  HTML5</li>
      <li><img src="/styles/images/devicons/css3-original.svg" alt="css3 icon">  CSS3</li>
      <li><img src="/styles/images/devicons/javascript-original.svg" alt="javascript icon">  Javascript</li>
      <li><img src="/styles/images/devicons/nodejs-original.svg" alt="nodejs icon">  NodeJS</li>
      <li><img src="/styles/images/devicons/angularjs-original.svg" alt="angularjs icon">  Angular JS </li>
      <li><img src="/styles/images/devicons/ionic.png" alt="ionic icon">  Ionic</li>
      <li><img src="/styles/images/devicons/jquery-original.svg" alt="jquery icon">  Jquery</li>
      <li><img src="/styles/images/devicons/bower-original.svg" alt="bower icon">  Bower</li>
      <li><img src="/styles/images/devicons/gulp-plain.svg" alt="gulp icon">  Gulp</li>
      <li><img src="/styles/images/devicons/github-original.svg" alt="github icon">  Github</li>
      <li><img src="/styles/images/devicons/sass-original.svg" alt="sass icon">  Sass</li>
      <li><img src="/styles/images/devicons/java-original.svg" alt="java icon">  Java</li>
    </ul>
	</div>

</md-content>