<md-subheader>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/styles/images/nebulaBlue.jpg">
      <h3>
      Skills
      </h3>

    </div>
  </div>
</md-subheader>
<md-content flex id="skills" class="md-whiteframe-z0" layout="row" layout-xs="column" layout-align="center center">

      <div flex="60">
            <p>Below are some of the technologies I'm most comfortable with. The NSS courses I took centered mainly around the MEAN stack, but I enjoy learning and am always happy to dive in to new technologies. </p>

            <div flex layout="row" layout-xs="column">
            <ul flex layout='column'>
                  <li flex>
                        <img src="/styles/images/devicons/html5-original.svg" alt="html5 icon">
                        <p>
                        HTML5
                        </p>
                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/css3-original.svg" alt="css3 icon">
                        <p>
                        CSS3
                        </p>
                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/javascript-original.svg" alt="javascript icon">
                        <p>
                        Javascript
                        </p>
                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/nodejs-original.svg" alt="nodejs icon">
                        <p>
                        NodeJS
                        </p>

                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/mongodb-plain.svg" alt="mongodb icon">
                        <p>
                        Mongo DB
                        </p>

                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/angularjs-original.svg" alt="angularjs icon">
                        <p>
                        Angular JS
                        </p>

                  </li>
            </ul>
            <ul layout='column' flex>
                  <li flex>
                        <img src="/styles/images/devicons/ionic.png" alt="ionic icon">
                        <p>
                        Ionic
                        </p>

                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/jquery-original.svg" alt="jquery icon">
                        <p>
                        Jquery
                        </p>

                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/bower-original.svg" alt="bower icon">
                        <p>
                        Bower
                        </p>

                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/gulp-plain.svg" alt="gulp icon">
                        <p>
                        Gulp
                        </p>

                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/github-original.svg" alt="github icon">
                        <p>
                        Github
                        </p>

                  </li>
                  <li flex>
                        <img src="/styles/images/devicons/sass-original.svg" alt="sass icon">
                        <p>
                        Sass
                        </p>
<!-- Example with star rating -->
<!--                   </li>
                  <li flex>
                        <img src="/styles/images/devicons/java-original.svg" alt="java icon">
                        <p>
                        Java
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        </p>

                  </li> -->
            </ul>
            </div>

      </div>

</md-content>