<md-subheader>Profile</md-subheader>

<md-content flex id="profile" class="md-whiteframe-z0" layout="column" layout-gt-sm="row" layout-align="center center">

	<div flex-offset="20" flex>
		<h1>Welcome</h1>
		<p>This page is currently under construction.</p>
		<p>Pardon the messy UI and broken links!</p>
		<p>Check back soon!</p>
	</div>

	<div flex id="profileCard" class="md-whiteframe-z2" layout="column" layout-align="center center">

				<img src="./styles/images/profilePic.jpg" alt="Profile Picture" ng-click="mainCtrl.toggleClass('profileCard', 'active')">

		<p id="item1">Allen Phelps</p>
		<p id="item2">Full Stack Developer</p>
		<p id="item3">Nashville, TN</p>

		<div id="aboutMe">
			<h3>About Me</h3>
			<p>I'm a 28 year old, newly minted software developer, finishing the Node.js full-stack development track at Nashville Software School. I'm happy to be joining the growing tech scene in Nashville. Please take a look around and see what I can do.</p>
		</div>

	</div>

</md-content>
