<div layout="column" class="md-whiteframe-z4" layout-padding layout-fill style="padding: 15px;" ng-cloak>

  <md-whiteframe id="navProfile" ng-mouseover="mainCtrl.hoverIn('navProfile')" ng-mouseleave="mainCtrl.hoverOut('navProfile')" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" href="/#profile">Profile</md-button>
  </md-whiteframe>

  <md-whiteframe id="navSkills" ng-mouseover="mainCtrl.hoverIn('navSkills')" ng-mouseleave="mainCtrl.hoverOut('navSkills')" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" href="/#skills">Skills</md-button>
  </md-whiteframe>

  <md-whiteframe id="navExperience" ng-mouseover="mainCtrl.hoverIn('navExperience')" ng-mouseleave="mainCtrl.hoverOut('navExperience')" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" href="/#experience">Experience</md-button>
  </md-whiteframe>

  <md-whiteframe id="navProjects" ng-mouseover="mainCtrl.hoverIn('navProjects')" ng-mouseleave="mainCtrl.hoverOut('navProjects')" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" href="/#projects">Projects</md-button>
  </md-whiteframe>

  <md-whiteframe id="navContact" ng-mouseover="mainCtrl.hoverIn('navContact')" ng-mouseleave="mainCtrl.hoverOut('navContact')" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" href="/#contact">Contact</md-button>

  </md-whiteframe>
</div>
