<div layout="column" class="md-whiteframe-z4" layout-padding layout-fill style="padding: 15px;" ng-cloak>

  <md-whiteframe id="navProfile" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" ng-click="mainCtrl.scrollTo('profile')">Profile</md-button>
  </md-whiteframe>

  <md-whiteframe id="navSkills"  class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" ng-click="mainCtrl.scrollTo('skills')">Skills</md-button>
  </md-whiteframe>

  <md-whiteframe id="navExperience" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" ng-click="mainCtrl.scrollTo('experience')">Experience</md-button>
  </md-whiteframe>

  <md-whiteframe id="navProjects" class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" ng-click="mainCtrl.scrollTo('projects')">Projects</md-button>
  </md-whiteframe>

  <md-whiteframe id="navContact"  class="md-whiteframe-0dp" layout layout-align="center center">
    <md-button class="md-accent" ng-click="mainCtrl.scrollTo('contact')">Contact</md-button>

  </md-whiteframe>
</div>

<!-- ng-mouseover="mainCtrl.hoverIn('navContact')" ng-mouseleave="mainCtrl.hoverOut('navContact')" -->
