<md-subheader>Under Construction</md-subheader>

<md-content flex id="content" class="md-whiteframe-z0" layout="row" layout-xs="column" layout-align="center center">

	<div flex="30">
		<h1>Welcome</h1>
		<p>This page is currently under construction.</p>
		<p>Pardon the messy UI and broken links!</p>
		<p>Check back soon!</p>
	</div>

	<div flex="30" id="profileCard" class="md-whiteframe-z2" layout="column" layout-align="center center">
		<img src="./styles/images/profilePic.jpg" alt="Profile Picture">
		<p id="item1">Allen Phelps</p>
		<p id="item2">Full Stack Developer</p>
		<p id="item3">Nashville, TN</p>


	</div>

</md-content>
