/*Color Pallets:
https://www.google.com/design/spec/style/color.html#color-color-palette
*/
@import url(https://fonts.googleapis.com/css?family=Russo+One|Chau+Philomene+One:400,400italic);
/*Main Styles*/
body {
  font-family: "Chau Philomene One", Tahoma, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Russo One", Impact, "Arial Black", sans-serif; }

*:focus {
  outline: none; }

li {
  list-style-type: none; }

a, a:active, a:visited {
  color: #424242;
  text-decoration: none; }

a:hover {
  text-shadow: 1px 1px 2px #B2EBF2; }

md-content {
  min-height: 100%; }

md-content#profile,
md-content#experience,
md-content#contact {
  background-color: #B2EBF2; }
  md-content#profile .md-subheader-content,
  md-content#experience .md-subheader-content,
  md-content#contact .md-subheader-content {
    background-color: #00BCD4; }

md-content#skills,
md-content#projects
md-content#contact {
  background-color: #F5F5F5; }
  md-content#skills .md-subheader-content,
  md-content#projects
md-content#contact .md-subheader-content {
    background-color: #9E9E9E; }

/* Top Toolbar Styling*/
md-toolbar {
  position: fixed;
  top: 0px;
  height: 5em; }
  md-toolbar span {
    text-shadow: 1px 1px 0px black;
    color: #B2EBF2; }
  md-toolbar span:hover {
    text-shadow: 2px 2px 1px black; }

div#mainContent {
  margin-top: 6em; }

/* SideNav Styling*/
#sideNav {
  transition: all ease 0.75s;
  background-color: #9E9E9E;
  height: 50%;
  width: 10em;
  position: fixed;
  top: -15em;
  left: -20em;
  z-index: 10; }
  #sideNav md-whiteframe {
    width: 100%; }
  #sideNav div button,
  #sideNav div a {
    height: 2em;
    color: #B2EBF2;
    text-shadow: 1px 1px 0px #424242; }

#sideNav.active {
  position: fixed;
  top: 10em;
  left: -2em;
  z-index: 10; }
  #sideNav.active md-whiteframe:hover {
    box-shadow: -2px -2px 10px black;
    transform: scale(1.1); }
  #sideNav.active a:hover {
    text-shadow: 2px 2px 4px #9E9E9E; }

/* Profile Card Styling*/
div#welcome {
  margin-top: 4em; }
  div#welcome h1 {
    padding: 0.5em; }
  div#welcome p {
    padding: 1em; }

div#profileCard {
  overflow: hidden; }
  div#profileCard img {
    margin-top: 2em;
    transition: all ease 0.25s;
    border: 5px solid black;
    border-radius: 50%;
    height: 15em;
    width: 15em; }
  div#profileCard img:hover {
    height: 15.5em;
    width: 15.5em; }
  div#profileCard > p {
    position: relative;
    right: -1000px; }
  div#profileCard p#item1 {
    transition: all ease 0.5s; }
  div#profileCard p#item2 {
    transition: all ease 0.75s; }
  div#profileCard p#item3 {
    transition: all ease 1s; }
  div#profileCard div#aboutMe {
    font-size: 0.25em;
    text-align: center;
    transition: all ease .5s;
    transition-delay: .5s;
    color: transparent; }
    div#profileCard div#aboutMe a {
      color: transparent; }

div#profileCard.active img {
  height: 10em;
  width: 10em;
  border: 5px solid black;
  border-radius: 10px; }

div#profileCard.active p {
  position: relative;
  right: 0px; }

div#profileCard.active div#aboutMe {
  color: inherit;
  font-size: inherit; }
  div#profileCard.active div#aboutMe a {
    color: inherit; }

/*
SKILLS STYLES
*/
#skills li {
  line-height: 2em;
  display: inline-block; }
  #skills li img {
    max-height: 100%;
    max-width: 2em;
    vertical-align: middle; }
  #skills li p {
    display: inline-block;
    line-height: 2em;
    margin: .5em; }

/*
BLOG STYLES (Main Page)
*/
#blogMain ul.post-list {
  padding: 1.5em; }

#blogMain li {
  list-style-type: none; }

#blogMain a, #blogMain a:active, #blogMain a:visited {
  color: #424242;
  text-decoration: none; }

#blogMain a:hover {
  text-shadow: 1px 1px 2px #B2EBF2; }
