/*Color Pallets:
https://www.google.com/design/spec/style/color.html#color-color-palette
*/
@import url(https://fonts.googleapis.com/css?family=Bangers|Chau+Philomene+One:400,400italic);
/*Main Styles*/
body {
  font-family: "Chau Philomene One", Tahoma, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Bangers, Impact, "Arial Black", sans-serif; }
